@font-face {
  font-family: "MyCustomFont";
  src: url("./DMSerifDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("./DMSerifDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
